<!-- views/partials/footer.ejs -->
<center>


<!-- AUTHOR LINK -->

<!--router.get('/author/create', author_controller.author_create_get);-->
<a href="/blog/author/create">Author Create GET </a> | 

<!--router.get('/category/create', category_controller.category_create_get);-->
<a href="/blog/category/create">Category Create GET </a> |

<!--router.get('/comment/create', comment_controller.comment_create_get);-->
<a href="/blog/comment/create">Comment Create GET </a> |

<!--router.get('/cuser/create', user_controller.user_create_get);-->
<a href="/blog/user/create">User Create GET </a> | 


 

 

</center>
<br/>
<p class="text-center text-muted">© Copyright 2020 Manifest & Company Inc.</p>



 







 
