<!-- views/partials/footer.ejs -->
<center style="position:fixed;left:50%;bottom:2%;width:100%;margin-left:-50%">



<p class="text-center fixed" style="color: black;">© Copyright 2021 CodersBlog.</p>

</center>




 







 
