<!-- views/partials/footer.ejs -->
<center style="position:fixed;left:50%;bottom:2%;width:100%;margin-left:-50%">

<!--router.get('/employee/create', employee_controller.employee_create_get);-->
<a href="/blog/employee/create" class="btn btn-info">Employee Create GET </a> 

 <br/>
<p class="text-center text-muted fixed">© Copyright 2020 Manifest & Company Inc.</p>

</center>




 







 
