<!-- views/partials/footer.ejs -->
<center style="position:fixed;left:50%;bottom:2%;width:100%;margin-left:-50%">


<!-- AUTHOR LINK -->

<!--router.get('/author/create', author_controller.author_create_get);-->
<a href="/blog/author/create" class="btn btn-info">Author Create GET </a> 

<!--router.get('/category/create', category_controller.category_create_get);-->
<a href="/blog/category/create" class="btn btn-info">Category Create GET </a> 

<!--router.get('/comment/create', comment_controller.comment_create_get);-->
<a href="/blog/comment/create"class="btn btn-info">Comment Create GET </a> 

<!--router.get('/post/create', post_controller.post_create_get);-->
<a href="/blog/post/create"class="btn btn-info">Post Create GET </a> 


 

 <br/>
<p class="text-center text-muted fixed">© Copyright 2020 Manifest & Company Inc.</p>

</center>




 







 
