<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Simple Blog Application</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../public/stylesheets/style.css" type="text/css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    html,body{scroll-behavior: smooth;}
    *,
    *:before,
    *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    body{
        /*background-color: #333;*/
        padding-top: 5rem;
        align-items: center;
        background-attachment: fixed;
        background-image: url("https://res.cloudinary.com/trive/image/upload/q_auto:eco/v1613021750/pexels-vlada-karpovich-4050315.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Nunito', sans-serif;
        min-height: 100vh;
    }

    .navbar{margin-bottom:5rem;}
    img.logo{
        border-radius: 0.3rem;
        width: 8.2rem;
    }
    .navbar-header ul li a{color:#333 !important;}
    .navbar-brand{padding:0 !important;}
    nav.navbar-default{
        background-color: transparent;
        border:0;
    } 
    div.homepage,
    .glassmorphism{
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        background-clip: padding-box;
        border: solid 1px rgba(255, 255, 255, 0.3);
        border-radius: 0.5rem;
        }
    ul.navbar-right{margin-left: 50rem;}
    div.card-deck{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:1rem;
        padding-top: 6rem;
    }
    div.card{
        background-color: teal;
        padding: 1rem;
        border-radius: 6px;
        background: #008080;
        box-shadow: inset 20px -20px 60px #006d6d, 
            inset -20px 20px 60px #009393;
    }

    form {
        max-width: 45rem;
        margin: 10px auto;
        padding: 10px 20px;
        background: rgba(255, 255, 255, 0.2); ;
        border-radius: 8px;
    }
    div.col-sm-12{padding: 10rem !important;}
    .text-white{color: #f2f2f2;}
</style>