<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" style="background-color:#5bc0de" role="navigation">
<div class="container-fluid">

    <div class="navbar-header ">
        <a class="navbar-brand " href="/" style="color:#fff">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            BlogLogo
        </a>

        <ul class="nav navbar-nav">
            <li ><a style="color:#fff" href="/">Home</a></li>
            <li><a style="color:#fff" href="/blog/employees">employees</a></li>
        </ul>
    </div>

</div>
</nav>