<div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <!--p>Total posts in database is <span class="badge badge-primary badge-pill"><!--%= postCount.count % --><!--/span></p-->
    <p>Total employee in database is <span class="badge badge-primary badge-pill"><%= employeeCount.count %></span></p>

</div>

